# .gitignore at repo root
# cache/bytecode
__pycache__/
*.py[cod]

# virtual envs
.venv/

# build artifacts
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# test cache
.pytest_cache/

# IDE/user files
.vscode/
.idea/
.DS_Store

# local overrides
.gsp.yaml
